@font-face {
  font-family: 'Noto Sans Japanese';
  src: url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
}

body {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Noto Sans Japanese';
  font-size: 16px;
  color: #000000;
  background-color: rgb(194,165,121);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(249,231,191);
}


/*index.htmlのcss-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.face{
  position:relative; /*画像の上にボタンを貼るためのコード。下の.button1とセット*/
}

button.button1{
  font-size: 1.25em;
  color: rgb(194,165,121);  
  padding: 0.625em 3.125em;
  text-align: center;
  position: absolute;
  z-index: 100;
  top: 45%;
  left: 10%;
  background-color: rgb(95,70,40);
  border-style: none;
}
/*index.htmlのcssここまで-----------------------------------------------------------------------------------------------------------------------------------------------------*/
	
/*Page1.htmlのcss-----------------------------------------------------------------------------------------------------------------------------------------------------*/
div.doui{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
}

input[type="checkbox"]{
	-ms-transform: scale(2);
	transform: scale(2);
	margin-right: 15px;
}

button.button2{
  font-size: 1.25em;
  color: rgb(194,165,121);  
  padding:  0.625em 3.125em;
  background-color: rgb(95,70,40);
  border-style: none;
}
/*Page1.htmlのcssここまで-----------------------------------------------------------------------------------------------------------------------------------------------------*/
	
	
/*Page2.htmlのcss-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.container {              /*wrapper内に白い下地を作る。セクションはこれで区切られる*/
  max-width: 900px;
  margin: 5%;
  padding-left:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color: #FFFFFF;
}

button.button3{              /*送信ボタンの設定*/
  font-size: 1.25em;
  color: rgb(194,165,121);  
  padding:  0.625em 3.125em;
  margin: 5%;
  background-color: rgb(95,70,40);
  border-style: none;
}

p.sectitle{          　　　　　   /*セクションのタイトル*/
  font-size: 1.75em;
  font-weight: bold;
  margin: 5% 5% 0% 5%;   /*上、右、下、左*/
}

.table_background{
	margin: 2% 5%;   /*上下、右左*/
	width: 90%;
	text-align: left;
	background-color: #FFFFFF;
}

th{
	padding-top: 1.25em;
	vertical-align: top;
	
}

th.numbering {
	padding-left:0.5em;
	width:3em;
}

td.alnumber {
	vertical-align: top;
	text-align: right;
	width:2.5em;
}

td.alnumber2 {
	text-align: right;
	width:2.5em;
}

.gettingpadtop {
	padding-top: 1.25em;
}

.gettingpadtail {
	padding-bottom: 1.5em;
}

/*プルダウン用css*/
.select-wrap{
position:relative;
overflow:hidden;
display:inline-block;
min-width:192px;
min-width:12em;
background-color:#ffffff;
background-image:-webkit-linear-gradient(top, #ffffff 0%, #dfe0d9 100%);
background-image:linear-gradient(top, #ffffff 0%, #dfe0d9 100%);
border:1px solid #c0c0c0;
color:#333;
}

.select-wrap select{
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
appearance:none;
position:relative;
z-index:2;
display:block;
width:200%;/* fallback non calc support */
width:-webkit-calc(100% + 5em);
margin:0;
padding:11px 35px 11px 11px;
padding:.6875rem 2.1875rem .6875rem .6875rem;
background:transparent;
border:0;
outline:none;
font-size:16px;
font-size:1rem;
line-height:1.5;
}



/*チェックボックス用css*/
div.cbx {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  margin: 0% 5%;
  background: #FFFFFF;
  color: #000000;
}

.cbx_options {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-bottom: 1em;
  font-size: 1em;
}

/*その他の自由記述css*/
input.other_text{
	width:60%;
}


/*自由記述用css*/
textarea {
  margin-left:5%;
  height: 6em;
  width: 90%;
}

	
/*スマホ用のcss-----------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 480px) {
/*index.htmlのcss-----------------------------------------------------------------------------------------------------------------------------------------------------*/
	button.button1{
		width:80%;
		padding: 0.625em auto;
		border-radius:10px;
	}
/*index.htmlのcssここまで-----------------------------------------------------------------------------------------------------------------------------------------------------*/
	
/*Page1.htmlのcss-----------------------------------------------------------------------------------------------------------------------------------------------------*/
	button.button2{
		width:100%;
		padding: 0.625em auto;
		border-radius:10px;
	}
/*Page1.htmlのcssここまで-----------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Page2.htmlのcss-----------------------------------------------------------------------------------------------------------------------------------------------------*/
	button.button3{
	        width: 90%;
		padding: 0.625em auto;
		border-radius:10px;
	}
	
	input.other_text{
		width:60%;
		height: 6em;
	}
	
	th.numbering {
		padding-left:0em;
		width:2.5em;
	}
/*Page2.htmlのcssここまで-----------------------------------------------------------------------------------------------------------------------------------------------------*/
}
