@font-face {
  font-family: 'Noto Sans Japanese';
  src: url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
}

body {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Noto Sans Japanese';
  color: #8CC63F;
  background: #DDDDDD;
}

h1{
   font-size: 3.125em;
   color : #999999;
   margin: 50px;
   padding: 50px;
}

div.radio {
  font-size: 2.2vmin;
  padding-left:40px;
  padding-top:40px;
  padding-bottom:40px;
}
